<div class="main user-show">
  <div class="container">
    <div class="user">

      <div class="user_prof">
        <h2><%=@user.name %></h2>
        <% if @user.id == @current_user.id %>
          <p><%=@user.email %></p>
        <% end %>
          <div class = "sum_movies"> 見た映画: <%= @user.sum_movies %> 本 </div>
        <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit",{class: "edit_btn"}) %>
        <% end %>
      </div>

        <table>
          <tr>
            <th>追加日</th>
            <th>タイトル</th>
            <th>コメント</th>
            <th>評価</th>
          </tr>

        <% @user.movies.each do |movie| %>
          <tr>
            <td><%= movie.add_date %></td>
            <td><%= movie.title %> </td>
            <td><%= movie.feelings %></td>
            <td>
              <div class="evaluation">
                <% i=0 %>
                <% while i < movie.rating do %>
                <div class="star">
                  <%='★' %>
                </div>
                <% i+=1 %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>

      </table>
    </div>
  </div>
</div>
