<div class="main movie-new">
  <div class="container">
    <h1 class="form-heading">映画の追加</h1>
    
    <div class="new_movieform-error">  <%if @notitle %> <%= @notitle %> <% end %> </div>
    <div class="new_movieform-error">  <%if @norating %> <%= @norating %> <% end %> </div>

    <%= form_tag("/movie/create") do %>
    <table>
      <tr>
        <th>タイトル</th>
        <th>コメント(任意)</th>
        <th>評価</th>
      </tr>

      <div class="form">
        <div class="form-body">
          <tr>

            <td>
              <div class="cp_iptxt">
                <input class="ef" type="text" value="<%= @movie.title %>" name="title">
                <span class="focus_line"></span>
              </div>
            </td>

            <td>
              <div class="cp_iptxt">
                <input class="ef" type="text" value="<%= @movie.feelings %>" placeholder="" name="feelings">
                <span class="focus_line"></span>
              </div>
            </td>

            <td>
               <div class="evaluation">
                    <input id="star1" type="radio" name="rating" value="5" />
                    <label for="star1"><span class="text"></span>★</label>
                    <input id="star2" type="radio" name="rating" value="4" />
                    <label for="star2"><span class="text"></span>★</label>
                    <input id="star3" type="radio" name="rating" value="3" />
                    <label for="star3"><span class="text"></span>★</label>
                    <input id="star4" type="radio" name="rating" value="2" />
                    <label for="star4"><span class="text"></span>★</label>
                    <input id="star5" type="radio" name="rating" value="1" />
                    <label for="star5"><span class="text"></span>★</label>
                </div>
            </td>

          </tr>
        </div>
      </div>
        </table>

          <div class="add_btn">
            <input type="submit" value="追加">
          </div>

          <% end %>

          <!--<div class="back_btn">
          <//%= link_to("戻る", "/movie/index") %>
          </div>-->

        </div>
      </div>
