<div class="main movie-show">
  <div class="container">
    <div class="movie-show-item">

      <table>
        <tr>
          <th>追加日</th>
          <th>タイトル</th>
          <th>コメント</th>
          <th>評価</th>
        </tr>
        <tr>
          <td><%= @movie.add_date %></td>
          <td><%= @movie.title %> </td>
          <td><%= @movie.feelings %></td>
          <td>
            <div class="evaluation">
              <% i=0 %>
              <% while i < @movie.rating do %>
              <div class="star">
              <%='★' %>
              </div>
              <% i+=1 %>
              <% end %>
            </div>
          </td>
        </tr>
      </table>

    <% if @movie.user_id == @current_user.id %>
      <div class="movie-menus">
      <%= link_to("編集", "/movie/#{@movie.id}/edit") %>
      <%= link_to("削除", "/movie/#{@movie.id}/destroy", {method: "post"}) %>
      </div>
    <% end %>

    </div>
  </div>
</div>
